.App {
  text-align: center;
  background-color: black;
  max-width: 100vw;
  
}
.topSection {
  height: 95vh;
  background-color: black;
  background: -webkit-linear-gradient( 270deg,black, #00001b);
  margin: 0;
  text-align: center;
}

.midSection {
  min-height: 95vh;
  background-color: #00001b;
  /* background-color: white; */
}

.bottomSection {
  height: 95vh;
  background-color: brown;
}