.App {
  text-align: center;
}

.topSection {
  height: 95vh;
  background-color: bisque;
}

.midSection {
  height: 95vh;
  background-color: blue;
}

.bottomSection {
  height: 95vh;
  background-color: brown;
}